{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'css/detail.css'%}" type="text/css">
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <title>{{ Firstuser }} v/s {{ Seconduser }}</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body style="background-color: #FFDEAD;">

  <div class="card-custom">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="{% url 'userinfo:index' %}" style="font-weight: 700; font-family: 'GT Walsheim Pro';">CodeForces Crawler</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-angle-double-down"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/AnantShankhdhar/codeforces-crawler" target="_blank" style="font-weight: 700; font-family: 'GT Walsheim Pro';" >Github</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: 500; font-family: 'GT Walsheim Pro'; margin-right:3rem;">
              Contributors
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://www.linkedin.com/in/divyam-singal-416720196/" target="_blank" style=" font-family: 'GT Walsheim Pro';">Divyam Singal</a>
              <a class="dropdown-item" href="https://www.linkedin.com/in/manish-prajapati-9970641a0/" target="_blank" style=" font-family: 'GT Walsheim Pro';">Manish Prajapati</a>
              <a class="dropdown-item" href="https://www.linkedin.com/in/anantshankhdhar/" target="_blank" style=" font-family: 'GT Walsheim Pro';">Anant Shankhdhar</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>
  </div>


  <br>
<br>
<div class="wrapper">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-4 " >
      <div class="card usercardinfo" >
        <span class="info">
          <p class="ques" style="display:inline">User name: </p>
          {% if Fcontests_given == True %}
            {% if Frating >= 3000 %}
              {% spaceless %}
              <p class="ans" style="display:inline; color: black;" >{{ Fuserfirstletter }} </p>
              <p class="ans" style="display:inline; color: red;" >{{ Fuserremaining }} </p>
              {% endspaceless %}
            {% else %}
            <p class="ans" style="display:inline; color: {{Fpassrankcolor}};">{{ Firstuser }} </p>
            {% endif %}
          {% else %}
            <p class="ans" style="display:inline">{{ Firstuser }} </p>
          {% endif %}
        </span>
        <span class="info">
          <p class="ques" style="display:inline">Name: </p>
          <p class="ans" style="display:inline; text-transform: uppercase;">{{ Fname }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">Rating: </p>
          <p class="ans" style="display:inline">{{ Frating }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">Maximum Rating: </p>
          <p class="ans" style="display:inline">{{ Fmaxrating }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">city: </p>
          <p class="ans" style="display:inline">{{ Fcity }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">country: </p>
          <p class="ans" style="display:inline">{{ Fcountry }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">organisation: </p>
          <p class="ans" style="display:inline">{{ Forganisation }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">Rank: </p>
          <p class="ans" style="display:inline">{{ Frank }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">Maximum Rank: </p>
          <p class="ans" style="display:inline">{{ Fmaxrank }} </p>
        </span>
      </div>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4 ">
      <div class="card usercardinfo" >
        <span class="info">
          <p class="ques" style="display:inline">User name: </p>
          {% if Scontests_given == True %}
            {% if Srating >= 3000 %}
              {% spaceless %}
              <p class="ans" style="display:inline; color: black;" >{{ Suserfirstletter }} </p>
              <p class="ans" style="display:inline; color: red;" >{{ Suserremaining }} </p>
              {% endspaceless %}
            {% else %}
            <p class="ans" style="display:inline; color: {{Spassrankcolor}};">{{ Seconduser }} </p>
            {% endif %}
          {% else %}
            <p class="ans" style="display:inline">{{ Seconduser }} </p>
          {% endif %}
        </span>
        <span class="info">
          <p class="ques" style="display:inline">Name: </p>
          <p class="ans" style="display:inline; text-transform: uppercase;">{{ Sname }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">Rating: </p>
          <p class="ans" style="display:inline">{{ Srating }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">Maximum Rating: </p>
          <p class="ans" style="display:inline">{{ Smaxrating }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">city: </p>
          <p class="ans" style="display:inline">{{ Scity }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">country: </p>
          <p class="ans" style="display:inline">{{ Scountry }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">organisation: </p>
          <p class="ans" style="display:inline">{{ Sorganisation }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">Rank: </p>
          <p class="ans" style="display:inline">{{ Srank }} </p>
        </span>
        <span class="info">
          <p class="ques" style="display:inline">Maximum Rank: </p>
          <p class="ans" style="display:inline">{{ Smaxrank }} </p>
        </span>
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h2 class="recommendation">Languages used by {{Firstuser}}</h2>
        <div class="FLangList">
            <canvas id="FLangList"  class="FLangListcss" ></canvas>
        </div>
      </div>

    </div>
    <div class="col-md-6 ">
      <div class="card">
        <h2 class="recommendation">Languages used by {{Seconduser}}</h2>
        <div class="SLangList">
            <canvas id="SLangList"  class="SLangListcss"></canvas>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="TypeListcss">
            <canvas id="TypeList"  class="TypeListcss" ></canvas>
        </div>
      </div>

    </div>
    <div class="col-md-1">

    </div>
  </div>
  <br>


  <div class="row ">
    <div class="col-md-1">

    </div>
    <div class="col-md-10 ">
      <div class="card">
        <div class="ProbRatList">
            <canvas id="ProbRatList"  class="ProbRatcss" width="400"></canvas>
        </div>
      </div>

    </div>
    <div class="col-md-1">

    </div>
  </div>
  <br>
  <div class="row ">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 ">
      <div class="card">
        <div class="VerdictList">
            <canvas id="VerdictList"  class="VerdictListcss" ></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-2">

    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="FRankGraph">
            <canvas id="FRankGraph"  class="FRankGraphcss" ></canvas>
        </div>
      </div>

    </div>
    <div class="col-md-6 ">
      <div class="card">
        <div class="SRankGraph">
            <canvas id="SRankGraph"  class="SRankGraphcss"></canvas>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="FRatingGraph">
            <canvas id="FRatingGraph"  class="FRatingGraphcss" ></canvas>
        </div>
      </div>

    </div>
    <div class="col-md-6 ">
      <div class="card">
        <div class="SRatingGraph">
            <canvas id="SRatingGraph"  class="SRatingGraphcss"></canvas>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row ">
    <div class="col-md-12 ">
      <div class="card">
        <div class="TagList">
            <canvas id="TagList"  class="TagListcss" ></canvas>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row ">
    <div class="col-md-12 ">
      <div class="card">
        <div class="TagListAvg">
            <canvas id="TagListAvg"  class="TagListAvgcss" ></canvas>
        </div>
      </div>
    </div>
  </div>
  <br>


</div>
</div>











    <script>
      var ctx = document.getElementById('TypeList').getContext('2d');
      var TypeList = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [{% for item in CTypeList_label %} '{{ item}}', {% endfor %}],
              datasets: [
                {
                  label: 'Level of Questions solved by {{Firstuser}}',
                  data: [{% for item in FTypeList_data %} '{{ item}}', {% endfor %}],
                  backgroundColor: [{% for i in colorslist %} '{{i}}', {% endfor %}],
                  borderColor: [{% for i in colorsborderlist %} '{{i}}', {% endfor %}],
                  borderWidth: 1
                },
                {
                  label: 'Level of Questions solved by {{Seconduser}}',
                  data: [{% for item in STypeList_data %} '{{ item}}', {% endfor %}],
                  backgroundColor: [{% for i in colorslist %} '{{i}}', {% endfor %}],
                  borderColor: [{% for i in colorsborderlist %} '{{i}}', {% endfor %}],
                  borderWidth: 1
                }
            ]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });

    </script>


    <script>
      var ctx = document.getElementById('FLangList').getContext('2d');
      var FLangList = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: [{% for item in FLangList_label %} '{{ item}}', {% endfor %}],
              datasets: [{
                  label: 'Types of Questions solved',
                  data: [{% for item in FLangList_data %} '{{ item}}', {% endfor %}],
                  backgroundColor: [{% for i in colorslist %} '{{i}}', {% endfor %}],
                  borderColor: [{% for i in colorsborderlist %} '{{i}}', {% endfor %}],
                  borderWidth: 1
              }]
          }
      });

    </script>
    <script>
      var ctx = document.getElementById('SLangList').getContext('2d');
      var SLangList = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: [{% for item in SLangList_label %} '{{ item}}', {% endfor %}],
              datasets: [{
                  label: 'Types of Questions solved',
                  data: [{% for item in SLangList_data %} '{{ item}}', {% endfor %}],
                  backgroundColor: [{% for i in colorslist %} '{{i}}', {% endfor %}],
                  borderColor: [{% for i in colorsborderlist %} '{{i}}', {% endfor %}],
                  borderWidth: 1
              }]
          }
      });

    </script>

    <script>
      var ctx = document.getElementById('VerdictList').getContext('2d');
      var VerdictList = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [{% for item in CVerdictList_label %} '{{ item}}', {% endfor %}],
              datasets: [
                {
                  label: 'Submissions Results by {{Firstuser}}',
                  data: [{% for item in FVerdictList_data %} '{{ item}}', {% endfor %}],
                  backgroundColor: [{% for i in colorslist %} '{{i}}', {% endfor %}],
                  borderColor: [{% for i in colorsborderlist %} '{{i}}', {% endfor %}],
                  borderWidth: 1
                },
                {
                  label: 'Submissions Results by {{Seconduser}}',
                  data: [{% for item in SVerdictList_data %} '{{ item}}', {% endfor %}],
                  backgroundColor: [{% for i in colorslist %} '{{i}}', {% endfor %}],
                  borderColor: [{% for i in colorsborderlist %} '{{i}}', {% endfor %}],
                  borderWidth: 1
                }
            ]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
    </script>

    <script>
      var ctx = document.getElementById('ProbRatList').getContext('2d');
      var ProbRatList = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: [{% for item in CProbRatList_label %} '{{ item}}', {% endfor %}],
                      datasets: [
                            {
                              label: 'Rating of Questions solved by {{Firstuser}}',
                              data: [{% for item in FProbRatList_data %} '{{ item}}', {% endfor %}],
                              fill: false,
                              backgroundColor: 'rgba(255, 99, 132, 0.2)',
                              borderColor: 'rgba(255, 99, 132, 1)'
                            },
                            {
                              label: 'Rating of Questions solved by {{Seconduser}}',
                              data: [{% for item in SProbRatList_data %} '{{ item}}', {% endfor %}],
                              fill: false,
                              backgroundColor: 'rgba(153, 102, 255, 0.2)',
                              borderColor: 'rgba(153, 102, 255, 1)'
                            }
                        ]
                    },
                    options: {
                    }
                });
    </script>

    <script>

        var ctx = document.getElementById('TagList').getContext('2d');
        var TagList = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [{% for item in CTagList_label %} '{{ item}}', {% endfor %}],
                datasets: [
                  {
                    label: 'Tags of Questions solved by {{Firstuser}}',
                    data: [{% for item in FTagList_data %} '{{ item}}', {% endfor %}],
                    backgroundColor: [{% for i in colorslist %} '{{i}}', {% endfor %}],
                    borderColor: [{% for i in colorsborderlist %} '{{i}}', {% endfor %}],
                    borderWidth: 1
                  },
                  {
                    label: 'Tags of Questions solved by {{Seconduser}}',
                    data: [{% for item in STagList_data %} '{{ item}}', {% endfor %}],
                    backgroundColor: [{% for i in colorslist %} '{{i}}', {% endfor %}],
                    borderColor: [{% for i in colorsborderlist %} '{{i}}', {% endfor %}],
                    borderWidth: 1
                  }
              ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [
                        { position: 'top' }
                    ]
                }
            }
        });

    </script>

    <script>

        var ctx = document.getElementById('TagListAvg').getContext('2d');
        var TagListAvg = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [{% for item in CTagListAvg_label %} '{{ item}}', {% endfor %}],
                datasets: [
                  {
                    label: 'Average Rating of Tags of Questions solved by {{Firstuser}}',
                    data: [{% for item in FTagListAvg_data %} '{{ item}}', {% endfor %}],
                    backgroundColor: [{% for i in colorslist %} '{{i}}', {% endfor %}],
                    borderColor: [{% for i in colorsborderlist %} '{{i}}', {% endfor %}],
                    borderWidth: 1
                  },
                  {
                    label: 'Average Rating of Tags of Questions solved by {{Seconduser}}',
                    data: [{% for item in STagListAvg_data %} '{{ item}}', {% endfor %}],
                    backgroundColor: [{% for i in colorslist %} '{{i}}', {% endfor %}],
                    borderColor: [{% for i in colorsborderlist %} '{{i}}', {% endfor %}],
                    borderWidth: 1
                  }

              ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [
                        { position: 'top' }
                    ]
                }
            }
        });

    </script>
    <script>
      var ctx = document.getElementById('FRankGraph').getContext('2d');
      var FRankGraph = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: [{% for item in FcontestTimegood %} '{{ item}}', {% endfor %}],
                  datasets: [
                      {
                        label: 'Ranks in Contest of {{Firstuser}}',
                        data: [{% for item in Franks %} '{{ item}}', {% endfor %}],
                        fill: 'false',
                        fillColor: "rgba(255, 99, 132, 0.2)",
                        strokeColor: "rgba(255, 99, 132, 0.2)",
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)'
                      }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: false,
                            ticks: {
                              reverse: true,
                            }
                        }]
                    },
                    plugins: {
                        filler: {
                            propagate: true
                        }
                    }
                }

            });
    </script>

    <script>
      var ctx = document.getElementById('SRankGraph').getContext('2d');
      var SRankGraph = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: [{% for item in ScontestTimegood %} '{{ item}}', {% endfor %}],
                  datasets: [
                      {
                        label: 'Ranks in Contest by {{Seconduser}}',
                        data: [{% for item in Sranks %} '{{ item}}', {% endfor %}],
                        fill: 'false',
                        fillColor: "rgba(153, 102, 255, 0.2)",
                        strokeColor: "rgba(153, 102, 255, 0.2)",
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        borderColor: 'rgba(153, 102, 255, 1)'
                      }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: false,
                            ticks: {
                              reverse: true,
                            }
                        }]
                    },
                    plugins: {
                        filler: {
                            propagate: true
                        }
                    }
                }

            });
    </script>

    <script>
      var ctx = document.getElementById('FRatingGraph').getContext('2d');
      var FRatingGraph = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: [{% for item in FcontestTimegood %} '{{ item}}', {% endfor %}],
                  datasets: [
                      {
                        label: 'Rating after Contest by {{Firstuser}}',
                        data: [{% for item in FnewRatings %} '{{ item}}', {% endfor %}],
                        fill: 'false',
                        fillColor: "rgba(255, 99, 132, 0.2)",
                        strokeColor: "rgba(255, 99, 132, 0.2)",
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)'
                      }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: false
                        }]
                    },
                    plugins: {
                        filler: {
                            propagate: true
                        }
                    }
                }

            });
    </script>
    <script>
      var ctx = document.getElementById('SRatingGraph').getContext('2d');
      var SRatingGraph = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: [{% for item in ScontestTimegood %} '{{ item}}', {% endfor %}],
                  datasets: [
                      {
                        label: 'Rating after Contest of {{Seconduser}}',
                        data: [{% for item in SnewRatings %} '{{ item}}', {% endfor %}],
                        fill: 'false',
                        fillColor: "rgba(153, 102, 255, 0.2)",
                        strokeColor: "rgba(153, 102, 255, 0.2)",
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        borderColor: 'rgba(153, 102, 255, 1)'
                      }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: false
                        }]
                    },
                    plugins: {
                        filler: {
                            propagate: true
                        }
                    }
                }

            });
    </script>
    <script>
        $(document).on('click','.navbar-collapse.in',function(e) {
          if( $(e.target).is('a:not(".dropdown-toggle")') ) {
              $(this).collapse('hide');
          }
        });
      </script>

    <!-- Optional Javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>
