<h1><em>Codeforces user handle-</em></h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'userinfo:Compares' %}" method="post">
    {% csrf_token %}
    <label for="Firsthandle">
            User handle First:
    </label>
    <br>
    <input type="text" id="Firsthandle" name="Firstuser"/>
    <br>
    <label for="Secondhandle">
            User handle Second:
    </label>
    <br>
    <input type="text" id="Secondhandle" name="Seconduser"/>
    <br>
    <input type="submit" value="Submit">
</form>
