{% load static %}
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Rating</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/teamrate.css'%}" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  </head>
  <body>
    <div class="card-custom">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <a class="navbar-brand" href="{% url 'userinfo:index' %}" style="font-weight: 700; font-family: 'GT Walsheim Pro';">CodeForces Crawler</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-angle-double-down"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/AnantShankhdhar/codeforces-crawler" target="_blank" style="font-weight: 700; font-family: 'GT Walsheim Pro';" >Github</a>
              </li>
            </ul>
            <ul class="navbar-nav navbar-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: 500; font-family: 'GT Walsheim Pro'; margin-right:3rem;">
                  Contributors
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="https://www.linkedin.com/in/divyam-singal-416720196/" target="_blank" style=" font-family: 'GT Walsheim Pro';">Divyam Singal</a>
                  <a class="dropdown-item" href="https://www.linkedin.com/in/manish-prajapati-9970641a0/" target="_blank" style=" font-family: 'GT Walsheim Pro';">Manish Prajapati</a>
                  <a class="dropdown-item" href="https://www.linkedin.com/in/anantshankhdhar/" target="_blank" style=" font-family: 'GT Walsheim Pro';">Anant Shankhdhar</a>
                </div>
              </li>

            </ul>
          </div>
        </nav>
      </div>
      <br>
      <div class="container">
        <div class= "Teamrating card text-center">
            <span class="info">
                <p class="ques" style="display:inline">Team Members: </p>
                <p class="ans" style="display:inline">{% for e in exists %}
                    {{ e}}
                {% endfor %} </p>
            </span>
            <span class="info">
                <p class="ques" style="display:inline">Team Rating: </p>
                <p class="ans" style="display:inline">{{ answer }} </p>
            </span>
            <span class="info">
                <p class="ques" style="display:inline">Team Rank: </p>
                <p class="ans" style="display:inline">{{ rank }} </p>
            </span>
            <span class="info">
                <p class="ques" style="display:inline">Team Color: </p>
                <p class="ans" style="display:inline;{% if 'BRed' in color %} color:red; {% else %} color:{{ color}};{% endif %}">{{ color }} </p>
            </span>
            {% if length != 0 %}
                (The following  {{ length }} users don't exists-
                {% for ne in notexists %}
                    {{ ne}}
                {% endfor %}
                .)
            {% endif %}
        </div>
      </div>
      <script>
          $(document).on('click','.navbar-collapse.in',function(e) {
            if( $(e.target).is('a:not(".dropdown-toggle")') ) {
                $(this).collapse('hide');
            }
          });
        </script>

      <!-- Optional Javascript -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


  </body>


</html>
